{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    ساختمان
{% endblock %}

{% block content %}
    <main>
        <section class="theme__main__banner position-relative">
            <div class="main__banner__bg" data-aos="fade-up">
                <div class="main__banner__content">
                    <div class="container-fluid position-relative">
                        <div class="row align-items-center pt-380 pb-230 pt-lg-190 pb-lg-90">
                            <div class="col-xl-8">
                                <div class="theme__content position-relative text-xl-start">
                                    <div class="row">
                                        <div class="col-xxl-10"><h1 class="banner__main__title mb-25">کیفیت اتفاقی
                                            نیست.</h1></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xxl-6"><p class="banner__description mb-40">با استفاده از
                                            مهندسین و متخصصین با تجربه بالا در هر بخش کیفیت را به ارمغان آورده ایم.</p>
                                        </div>
                                    </div>
                                    <div class="banner__button d-flex align-items-center">
                                        <a href="{% url 'services_page' %}" class="ht_btn mb-lg-30"><span>از خدمات ما دیدن کنید</span></a><a
                                            href="{% url 'projects_page' %}" class="ht_btn ht__btn__two"><span>از همه پروژه ها دیدن کنید</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about__section home__one__section__one position-relative pt-160 pt-lg-60">
            <div class="about__section__wrapper" data-aos="fade-up">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-5">
                            <div class="section__title mb-lg-50">
                                <div class="row">
                                    <div class="col-xl-11 col-lg-12"><h2
                                            class="section__title__main position-relative mb-30">ساخت و ساز، پشتیبانی و
                                        معماری.</h2></div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-10"><p class="section__description mb-30">تخصص ما شامل معماری،
                                        ساخت و ساز و طراحی داخلی است.</p></div>
                                </div>
                                <div class="section__button d-flex align-items-center"><a href="{% url 'about_us' %}"
                                                                                          class="ht_btn"><span>ادامه مطلب</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="section__content ml-100 ml-lg-0">
                                <div class="accordion" id="accordionOne">
                                    <div class="item">
                                        <div class="d-flex align-items-center" id="headingOne">
                                            <span class="item__number">01.</span>
                                            <button class="accordian__btn__one" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">کارشناسان ماهر
                                            </button>
                                        </div>
                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                             aria-labelledby="headingOne" data-bs-parent="#accordionOne">
                                            <div class="accordion-body"><p class="section__description opacity-5">
                                                کارشناسان ماهر در زمینه خود برتر هستند و بینش های ارزشمندی را ارائه می
                                                دهند و استانداردهای استثنایی را برای دیگران ارائه می دهند.</p></div>
                                        </div>
                                    </div>
                                    <div class="item mt-20">
                                        <div class="d-flex align-items-center" id="headingTwo">
                                            <span class="item__number">02.</span>
                                            <button class="accordian__btn__one collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                    aria-expanded="false" aria-controls="collapseTwo">تجربه بالا
                                            </button>
                                        </div>
                                    </div>
                                    <div class="item mt-20">
                                        <div class="d-flex align-items-center" id="headingThree">
                                            <span class="item__number">03.</span>
                                            <button class="accordian__btn__one collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                    aria-expanded="false" aria-controls="collapseThree">تعهد به کار
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="counter__section pt-120 pt-lg-60 pb-130 pb-lg-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="fact__one mb-lg-30">
                                <h1 class="banner__main__title">
                                    <span class="counter">{{ site_setting.project_success_count }}</span>k+</h1>
                                <div class="row ">
                                    <div class="col-5 text-start text-lg-center"><small>پروژه های موفق</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-start text-lg-center">
                            <div class="fact__one mb-lg-30">
                                <h1 class="banner__main__title">
                                    <span class="counter">{{ site_setting.zero_to_hundred_count }}</span>k+</h1>
                                <div class="row ">
                                    <div class="col-12 text-start text-lg-center"><small>پروژه های صفر تا صد</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="fact__one text-start text-lg-center">
                                <h1 class="banner__main__title">
                                    <span class="counter">{{ site_setting.rebuilding_count }}</span>k+</h1>
                                <div class="row">
                                    <div class="col-12 text-start text-lg-center ml-40 ml-md-0"><small>پروژه
                                        های بازسازی</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static "assets/img/bg/home__one__section__one.svg" %}" alt=""
                 class="shapes w-100 section__one__bg"><img
                src="{% static "assets/img/shape/star__shape__02.png" %}" alt="" class="shapes star__shape__02">
        </section>
        <section class="video__section home__one__section__two position-relative">
            <div class="video__section__wrapper pb-lg-30 aos-init aos-animate" data-aos="fade-up">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-5 pb-100">
                            <div class="video__content">
                                <div class="section__title">
                                    <div class="row">
                                        <div class="col-xl-11 col-lg-12"><h2
                                                class="section__title__main position-relative mb-35">مزایای انتخاب
                                            ما.</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-10"><p class="section__description mb-60">ما سال ها تخصص و
                                            تجربه
                                            صنعت را به کار میگیریم و اطمینان می دهیم که می توانیم نتیجه بگیریم.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__list">
                                    <div class="form-check mb-30 d-flex align-items-center">
                                        <div class="icon"></div>
                                        <label>تخصص و تجربه</label>
                                    </div>
                                    <div class="form-check mb-30 d-flex align-items-center">
                                        <div class="icon"></div>
                                        <label>رویکرد مشتری محور.</label>
                                    </div>
                                    <div class="form-check d-flex align-items-center">
                                        <div class="icon"></div>
                                        <label>راه حل های نوآورانه</label>
                                    </div>
                                </div>
                                <div class="row mt-80 mt-lg-40 mb-30">
                                    <div class="col-lg-6">
                                        <div class="contact__number mb-lg-30"><h6 class="section__sub__title__five"><a
                                                href="https://{{ contact_us.email }}">ایمیل ما</a></h6></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact__number"><h6 class="section__sub__title__five"><a
                                                href="tel:{{ contact_us.phone }}">{{ contact_us.phone }}</a></h6></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ site_setting.film_link }}" class="popup-video"><img
                            src="{% static 'assets/img/icon/play__01.png' %}" alt="icon"></a>
                </div>
            </div>
        </section>
        <section class="service__section home__one__section__four position-relative pb-70 pb-lg-60 pt-120 pt-lg-30">
            <div class="service__section__wrapper" data-aos="fade-up">
                <div class="container">
                    <div class="row align-items-center mb-lg-30">
                        <div class="col-xl-8">
                            <div class="section__title mb-lg-30">
                                <div class="row">
                                    <div class="col-xl-11 col-lg-12"><h2
                                            class="section__title__main position-relative mb-30">خدمات ما</h2></div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-10"><p class="section__description mb-30">ما در خدمات ساخت و ساز,
                                        معماری و
                                        بازسازی خانه تخصص داریم و دیدگاه شما را به واقعیت تبدیل می کنیم.</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 text-start text-xl-end">
                            <div class="section__btn"><a href="{% url 'services_page' %}" class="ht_btn"><span>مشاهده همه خدمات</span><img
                                    src="{% static "assets/img/icon/arrow__01.png" %}" alt="icon" class="arrow__01"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-80 pt-lg-40">
                        {% for service in services %}
                            <div class="col-xl-4">
                                <div class="service__main__content text-start text-lg-center mb-lg-60">
                                    <div class="service__icon__two position-relative mb-40 mb-lg-30"><a
                                            href="{% url 'service_detail_page' service.id %}"
                                            class="service__icon__one"></a>
                                    </div>
                                    <h4 class="section__sub__title__three mb-20"><a
                                            href="{% url 'service_detail_page' service.id %}">{{ service.title }}</a>
                                    </h4>
                                    <p class="section__description__two opacity-7 mb-40 mb-lg-30">{{ service.short_description }}</p>
                                    <div class="service__link"><a href="{% url 'service_detail_page' service.id %}">ادامه
                                        مطلب<span>+</span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="project__section home__one__section__five position-relative pb-70 pb-lg-60 pt-150 pt-lg-60">
            <div class="project__section__wrapper" data-aos="fade-up">
                <div class="container">
                    <div class="row align-items-center mb-lg-30">
                        <div class="col-xl-8">
                            <div class="section__title mb-lg-30">
                                <div class="row">
                                    <div class="col-xl-11 col-lg-12"><h2
                                            class="section__title__main position-relative mb-30">آخرین پروژه های ما</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-10"><p class="section__description mb-30">پروژه های ساختمانی شیک
                                        و به روز ایران که توسط مجموعه ما انجام شده اند.</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 text-start text-xl-end">
                            <div class="section__btn"><a href="{% url 'projects_page' %}" class="ht_btn"><span>از همه پروژه ها دیدن کنید</span><img
                                    src="{% static "assets/img/icon/arrow__02.png" %}" alt="" class="arrow__01"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-80 pt-lg-40">
                        {% for project in projects %}
                            <div class="col-xl-6">
                                <div class="service__main__content position-relative mb-30">
                                    <div class="service__img"><img
                                            src="{{ project.image.url }}" alt="image"
                                            class="w-100"></div>
                                    <div class="service__content">
                                        <div class="service__link text-center text-lg-end mb-40 mb-lg-30">
                                            <div class="icon__link">
                                                <div class="icon mb-20"><a
                                                        href="{% static "assets/img/project/project__one__01.jpg" %}"
                                                        class="popup__link"><img
                                                        src="{% static "assets/img/icon/expand__01.png" %}" alt=""
                                                        class=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="service__text text-center">
                                            <a href="{% url 'project_detail_page' project.id %}"
                                               class="">{{ project.title }}</a>
                                            <p class="section__description mt-30">{{ project.short_description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="team__section home__one__section__six position-relative pb-lg-60 pt-150 pt-lg-60">
            <div class="team__section__wrapper" data-aos="fade-up">
                <div class="container">
                    <div class="section__title mb-lg-30 text-start text-lg-center">
                        <h2 class="section__title__main position-relative mb-30">تیم ما</h2>
                        <p class="section__description mb-30">تیم ما متشکل از متخصصین و مهندسین خبره با تجربه بالا در
                            حوضه کاری خودشان است.</p>
                    </div>
                </div>
                <div class="team-container pt-80 pt-lg-40">
                    <div class="swiper team__slider__one">
                        <div class="swiper-wrapper d-flex align-items-center">
                            {% for member in team %}
                                <div class="swiper-slide">
                                    <div class="team__main__content position-relative mb-30">
                                        <div class="team__img"><img
                                                src="{{ member.image.url }}" id="members_image"
                                                alt="" class="w-100"></div>
                                        <div class="team__content">
                                            <div class="team__text text-center mt-160">
                                                <h5 class="section__sub__title__four">{{ member.name }}</h5>
                                                <span class="opacity-7">{{ member.skill }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonial__section home__one__section__seven position-relative pb-70 pb-lg-60 pt-90 pt-lg-60">
            <div class="testimonial__section__wrapper" data-aos="fade-up">
                <div class="container">
                    <div class="section__title mb-lg-30 text-start text-lg-center">
                        <h2 class="section__title__main position-relative mb-30">مشتریان خوشحال ما</h2>
                        <p class="section__description mb-30">بهترین تبلیغ ما مشتریان حوشحال و راضی ما هستند.</p>
                    </div>
                    <div class="testimonial-container pt-80 pt-lg-40">
                        <div class="swiper testimonial__slider__one position-relative">
                            <div class="swiper-wrapper d-flex align-items-center">
                                {% for customer in customers %}
                                    <div class="swiper-slide">
                                        <div class="testimonial__main__content position-relative">
                                            <div class="row align-items-center">
                                                <div class="col-xl-6">
                                                    <div class="text__content pl-75 pl-lg-0 mb-lg-30">
                                                        <div class="quotation pb-80 pb-lg-30">
                                                            <span>{{ customer.comment }}</span>
                                                        </div>
                                                        <div class="author__content d-flex align-items-center justify-content-between">
                                                            <div class="">
                                                                <p class="">{{ customer.name }}</p>
                                                                <span class="opacity-6">{{ customer.address }}</span>
                                                            </div>
                                                            <div class="icon"><img
                                                                    src="{% static "assets/img/icon/quote__01.png" %}"
                                                                    alt="" class=""></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="img__content position-relative text-start text-lg-center">
                                                        <img src="{{ customer.image.url }}"
                                                             alt="" class=""></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class=" row d-flex align-items-center pt-60">
                                <div class="col-6">
                                    <div class="previous__btn text-start text-lg-end mr-10 mr-md-0">
                                        <div class="swiper-button-prev position-relative"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="next__btn w-50 ml-10 ml-md-20">
                                        <div class="swiper-button-next position-relative"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog__section home__one__section__eight position-relative pb-70 pb-lg-60 pt-90 pt-lg-60">
            <div class="blog__section__wrapper" data-aos="fade-up">
                <div class="container">
                    <div class="section__title mb-lg-30 text-start text-lg-center"><h2
                            class="section__title__main position-relative mb-30">آخرین مقالات ما</h2></div>
                    <div class="blog-container position-relative pt-80 pt-lg-40">
                        <div class="swiper blog__slider__one position-relative">
                            <div class="swiper-wrapper d-flex align-items-center">
                                {% for blog in blogs %}
                                    <div class="swiper-slide">
                                        <div class="blog__main__content position-relative">
                                            <div class="blog__img__content position-relative">
                                                <img src="{{ blog.image.url }}" alt="blog"
                                                     class="home__one__blog__01 w-100"><span
                                                    class=" shapes bg-white">{{ blog.created_time.date }}</span>
                                            </div>
                                            <div class="blog__text__content pt-20">
                                                <div class="blog__title d-flex align-items-center pt-20">
                                                    <h4 class="section__sub__title__two"><a
                                                            href="{% url 'blog_detail' blog.id %}">{{ blog.short_descriptions }}</a>
                                                    </h4>
                                                    <div class="blog__link"><a href="{% url 'blog_detail' blog.id %}"
                                                                               class="icon"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}