{% load static %}
<meta property="og:site_name" content="KAMLA">
<meta property="og:url" content="">
<meta property="og:type" content="website">
<meta property="og:title" content="KAMLA - Architecture & Business HTML5 Template">
<meta name="og:image" content="images/assets/ogg.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#FF6600">
<meta name="msapplication-navbutton-color" content="#00040B">
<meta name="apple-mobile-web-app-status-bar-style" content="#00040B">
<link rel="shortcut icon" type="image/x-icon" href="{% static "assets/favicon.ico" %}">
<link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "assets/fonts/bootstrap-icons/font-css.css" %}">
<link rel="stylesheet" href="{% static "assets/css/animate.min.css" %}">
<link rel="stylesheet" href="{% static "assets/css/swiper-bundle.min.css" %}">
<link rel="stylesheet" href="{% static "assets/css/slick.css" %}">
<link rel="stylesheet" href="{% static "assets/css/all.min.css" %}">
<link rel="stylesheet" href="{% static "assets/css/nice-select.css" %}">
<link rel="stylesheet" href="{% static "assets/css/magnific-popup.css" %}">
<link rel="stylesheet" href="{% static "assets/css/metisMenu.css" %}">
<link rel="stylesheet" href="{% static "assets/css/aos.css" %}">
<link rel="stylesheet" href="{% static "assets/css/spacing.css" %}">
<link rel="stylesheet" href="{% static "assets/css/main.css" %}">
<link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
